body {
margin: 0;
padding: 0;
font-family: sans-serif;
flex-wrap: wrap;
color: rgb(0, 0, 0);
}


/* nav bar */
.openbtn {    /* button for when window is too small for full nav bar */
	display: none;
}

.collapsed-menu {    /* button for when window is too small for full nav bar */
	display: none;
}

.menu {      /* navigation bar */
	position: absolute;
	top: 4vw;
	left: 15vw;
	width: 70vw;
	line-height: 3vw;
	border-radius: 15px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	overflow: hidden;
	float: left;
	display: block;
}

#active {  /* bolds the active page */
	font-weight: bold;
}

.menu a {    /* navigation items */
	position: relative;
	cursor: pointer;
	padding: 0vh .5vw .3vh .1vw;
	margin: 0 15px;
	text-decoration: none;
	color: #000000;
	font-size: 1.5vw;
}

.menu a::before {       /* line under navigation item */
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: .1vw;
	background-color: #aaaaaa;
	transition: .5s;
	font-weight: bold;
}

.menu a:hover::before {   /* line under naviagation item when hover item */
	width: 100%;
}

.menu a:hover {        /* when you hover item */
	color: #aaaaaa;
}
/* nav bar */





/* footer */
.footer {
	display: block;
	bottom: 0;
	/* left: 0; */
	width: 100%;
	height: 10vw;
	/* background-color: #f2f2f2; */
	background-color: #732929;
}

.footer .row1 {           /* icon */
	padding: 3vw 0vw 0.5vw 0vw;
	width: 100%;
	text-align: right;
	margin: 0;
	/* background-color: #65ccff; */
}

.footer .icon{           /* icon */
	height: 2vw;
	padding: 0vh 1vw 0 0vw;
	margin: 0;
	background-color: transparent;
}

.footer .row2 {        /* words in each row */
	float: right;
	text-align: right;
	padding: 0.5vw 1vw 2vw 0;
	margin: 0;
	width: 100%;
	/* background-color: #84d8ff; */
}

.footer .row2 p {        /* words in each row */
	margin: 0 0 0vw 0;
	font-size: 1vw;
}

/* footer */








/* home */
.home {
	/* background-color: red; */
	min-height: 150vh;
}

.top {    /* blue banner part */
	/* background-color: #694242; */
	background-image: linear-gradient(to bottom right, #ccefff, #84d8ff, #65ccff, #e9f8ff);
	width: 100%;
	height: 31vw;
	text-align: center;
	float: left;
	margin-bottom: 12vw;
}

.home .rect {         /* main content box */
	overflow: hidden;
	float: left;
	position: absolute;
	top: 10vw;
	left: 15vw;
	width: 70vw;
	height: 33vw;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}

.home .left {       /* text part in main content box */
	float: left;
	height: 100%;
	width: 50%;
	left: 0;
	border: 0;
}

.rect h1 {       /* "HELLO!" */
	font-family: Arial Narrow, sans-serif;
	color: #909090;
	font-size: 3vw;
	padding: 0;
	margin: 1vw 2vw 0 2vw;
}

.rect h2 {        /* "MY NAME IS" */
	color: #000000;
	font-size: 4vw;
	padding: 0;
	margin: 0 0px 0 2vw;
}

.rect h3 {        /* "GRACE LANE" */
	color: #000000;
	font-size: 4vw;
	padding: 0;
	margin: 0 0px 0 2vw;
}

.left #divider {   /* ...................... */
	background-color: inherit;
	border: none;
	border-top: .3vw dotted #dfdfdf;
	height: 1vw;
	padding: 0;
	margin: 1vw 2vw 0 2vw;
}

.row {          /* each row */
	float: left;
	width: 100%;
	margin: 0vw 0vw 1vw 0;
	background-color: transparent;
}

.row .icon {           /* icon */
	float: left;
	height: 2vw;
	width: auto;
	margin: 0 1vw 0vw 2.5vw;
	background-color: transparent;
}

.row p {        /* words in each row */
	float: left;
	font: inherit;
	color: inherit;
	margin: 0 0 0vw 0;
	font-size: 1.5vw;
}

.row p a {        /* words in each row that are linked */
	float: left;
	color: #000000;
	text-decoration: none;
	margin: 0 0 0vw 0;
	font-size: 1.5vw;
}

.home .right {    /* right side of content box for image of self */
	height: 100%;
	width: 50%;
	left: 0;
	overflow: hidden;
}

.self {          /* image of self */
	margin: 0vh 0px 0 0vw;
	position: absolute;
	height: 100%;
	width: auto;
	right: 0;
	bottom: 0;
}

.home .content {     /* under content box */
	margin: 0vh 16vw 0vh 16vw;
	float: left;
	height: auto;
	/* background-color: red; */
}

.content p {          /* words under content box */
	color: black;
	font-size: 1.5vw;
	float: left;
}
/* home */











/* experience */
.experience .top {
	height: 0vw;
}

.experience .bottom {
	height: 0vw;
}

.experience .content {
	float: left;
	position: absolute;
	top: 9vw;
	left: 17vw;
	width: 66vw;
	height: auto;
	background-color: #884949;
	background: rgb(255, 255, 255, 0);
	padding: 0vh 0vw 5vw 0vw;
}

.experience h1 {
	margin: 0vw 0vw 0vh 0vw;
	font-size: 1.6vw;
	text-decoration: none;
}

.experience h2 {
	margin: .2vw 0vw 0vw 0vw;
	font-size: 1.3vw;
	text-decoration: none;
}

.experience ul {
	margin: .3vw 0vw 2vw -2vw;
}

.experience li {
	margin: 0vh 0vw 0vw 0vw;
	color: black;
	font-family: sans-serif;
	font-size: 1.2vw;
	text-decoration: none;
}
/* experience */










/* school */
.school {
	min-height: 200vh;
	/* background-color: #65ccff; */
}
.school .top {
	width: 0;
	height: 0;
}

.school .content {
	float: left;
	position: absolute;
	top: 9vw;
	left: 16vw;
	width: 68vw;
	/* height: 100vh; */
	/* background: #ff9393; */
	/* padding: 0 0 10vw 0; */
	height:max-content;
}

.content .left {
	height: 100%;
	width: 49%;
	left: 0;
	float: left;
	/* background-color: red; */
}

.content .right {
	height: 100%;
	width: 50%;
	left: 0;
	float: left;
	margin: 0 0 0 0vw;
	/* background-color: #ccefff; */
}

.content h2 {
	/* background-color: #84ffa3; */
  color: #000000;
  padding: 0 0px 0 1vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
	font-size: 1.8vw;
	font-weight: bold;
	margin: 0 0 0 0vw;
}

.expand-button {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  padding: 10px 10px 10px 1vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5vw;
	font-weight: bold;
}

/* .active, .expand-button:hover {
  background-color: #555;
} */

.expand-button:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin: 0px;
}

.active:after {
  content: "\2212";
}

.expand-content {
  padding: 0 0px 0 1vw;
	width: 80%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}
/* school */






/* contact */
.contact .top {
	height: 0;
}

.contact .bottom {
	height: 0;
}

.contact .content {
	/* display: block; */
	position: absolute;
	float: left;
	top: 9vw;
	left: 10vw;
	width: 80vw;
	height: auto;
}

.contact iframe {
	width: 100%;
	height: 900px; 
}
/* contact */


	

@media only screen and (max-width: 620px) {  /* For mobile phones: */
	/* navigation bar */
	.menu {
		display: none;
	}

	.openbtn {      /* open menu button*/
		display: block;
		float: right;
		margin-top: 2vh;
		margin-right: 0vw;
		font-size: 8vw;
		border: none;
		background-color: transparent;
		color: #ffffff;
		cursor: pointer;

	}

	.collapsed-menu {      /* side bar */
		display: block;
		padding: 0px 0px 0vh 0vw;
		margin: 0vh 0vw 0vh 0vw;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		/* background-color: #84d8ff; */
		background-color: #ffffff;
		overflow-x: hidden;
		transition: 0.3s;
	}
	
	#active {  /* bolds the active page */
		font-weight: bold;
	}

	.closebtn{    /* close button */
		cursor: pointer;
		padding: 3vh 100vw 3vh 90vw;
		margin: 0vh 0vw 0vh 0vw;
		width: 5vw;
		background-color: transparent;
		text-decoration: none;
		left: 0;
		display: block;
		text-decoration: none;
		border: none;
		border-bottom: solid;
		cursor: pointer;
		color: #000000;

	}
	
	.collapsed-menu a {           /* navigation items */
		padding: 3vh 0vw 3vh 0vw;
		text-decoration: none;
		font-size: 5vw;
		display: block;
		transition: 0.0s;
		border-bottom: #000000;
		border-bottom: solid;
		color: #000000;
	}
	
	.collapsed-menu a:hover {        /* when you hover item */
		text-decoration: none;
		font-size: 25px;
		transition: 0.0s;
		background-color: #ccefff;
		border-bottom: #000000;
		border-bottom: solid;
	}
	/* navigation bar */








	/* home */
	.top {    /* blue banner part */
		height: 25vh;
		margin-bottom: 40vw;
	}

	.home .rect {         /* main content box */
		overflow: hidden;
		float: left;
		position: absolute;
		top: 18vw;
		left: 5vw;
		width: 90vw;
		height: 90vw;
	}

	.home .left {       /* text part in main content box */
		float: left;
		height: 100%;
		width: 55%;
		left: 0;
		border: 0;
		z-index: 1;

	}

	.rect h1 {       /* "HELLO!" */
		display: block;
		margin: 1.5vh 0 0 3vw;
		font-size: 5vw;
	}

	.rect h2 {        /* "MY NAME IS GRACE LANE" */
		color: #000000;
		font-size: 7vw;
		padding: 0;
		margin: 0vh 0px 0 3vw;
	}

	.rect h3{        /* "MY NAME IS GRACE LANE" */
		color: #000000;
		font-size: 9.5vw;
		padding: 0;
		margin: 0 0px 0 3vw;
	}

	.left #divider {   /* ...................... */
		display: none;
	}

	.row {          /* full row */
		display: none;
	}

	.icon {           /* icon */
		float: left;
		height: 2vw;
		width: auto;
		margin: 0 1vw 0vw 2.5vw;
		background-color: #fff;
	}

	.row a {         /* links in rows */
		float: left;
		font: inherit;
		color: inherit;
		text-decoration: none;
		margin: 0 0 0vw 0;
		font-size: 1.5vw;
	}

	.row p {        /* words in each row */
		float: left;
		font: inherit;
		color: inherit;
		text-decoration: none;
		margin: 0 0 0vw 0;
		font-size: 1.5vw;
	}

	.home .right {    /* right side of content box for image of self */
		height: 100%;
		width: 50%;
		left: 0;
		overflow: hidden;
	}

	.self {          /* image of self */
		margin: 1vh 0px 0 0vw;
		position: absolute;
		height: 100%;
		width: auto;
		right: 0;
		top: 0;
	}

	.home .content {     /* under content box */
		margin: 10vh 10vw 0vh 10vw;
		float: left;
		height: auto;
	}

	.content p {          /* words under content box */
		color: black;
		font-size: 5vw;
		float: left;
	}
	/* home */



}

