body {
  margin: 0;
  font-family: sans-serif;
  flex-wrap: wrap;
  color: black;
}


@media (max-width: 10000px) {
  .container {
    background-color: black; 
    width: 100%;
    height: auto;
    float: left;
  }

  .top {
    background-image: linear-gradient(to bottom right, #82b7d0, #9bc9df, #cce7f4, #e3f3fb); 
    width: 100%; 
    height: 60vh;
    text-align: center;
    float: left;
/*    background-color: blue;*/
  }

  .menu {
    position: absolute;
    top: 7vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 70vw;
    line-height: 50px;
    border-radius: 1em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    display: block;
  }

  #active {
    font-weight: bold;
  }

  .menu a {
  /*  float: left;*/
  /*  display: block;*/
    position: relative;
    cursor: pointer;
    padding: 8px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  /*  letter-spacing: 0.6px;*/

  }

  .menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #aaaaaa;

    transition: .5s;
    font-weight: bold;

  }

  .menu a:hover::before {
    width: 100%;
  /*  font-weight: bold;*/
  /*  color: aliceblue;*/
  }

  .menu a:hover {
    color: #aaaaaa;
  }

  .bottom {
    background-color: white; 
    width:100%; 
    height: 40vh;
    float: left;
  }

  .home .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .home .rect {
    float: left;
    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 70vw;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
/*    background: rgb(255,255,255,0);*/
/*    margin: 20px 0 200px 0;*/
  }

  .home .left {
    height: 100%;
    width: 50%;
    left: 0;
    border: 0;
  }

  .home .right {
    height: 100%;
    width: 50%;
    left: 0;
    overflow: hidden;
  }
  .rect h1{
    font-family: Arial Narrow, sans-serif;
    color: #909090;
    font-size: 5vh; 
    padding: 0; 
    margin: 25px 20px 0 30px;
  }

  .rect h2 {
    color: #000000;
    font-size: 8vh; padding: 0; margin: 0 0px 0 30px;
  }

  .left #divider {
    background-color: inherit;
    border: none;
    border-top: 5px dotted #dfdfdf;
  /*  color: #000000;*/
    height: 1px;
    padding: 0; 
    margin: 10px 30px -5px 30px;
  }
  
  .self {
    float: left;
    margin: 20px 0px 0 0;
    height: auto;
    width: 100%;
  }
  
  .row {
    float: left;
    width: 100%;
    margin: 0vw 0 2vh 0;
  }
  
  .icon {
    float: left;
    height: 3.5vh;
    width: auto;
    margin: 0vh 20px 0vh 30px;
  }
  
  .row a {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 3vh;
  }
  
  .row p {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 3vh;
  }
  
  .home .content {
    top: auto;
    margin: 0vh 16vw 10vh 16vw;
    height: auto;
    width: auto;
    float: left;
  }
  
  .content p {
    color: black;
    font-size: 25px;
  }
  
  

  
  
  
/* experience */
  .experienceLanding .top {
    background-image: linear-gradient(to bottom right, #82b7d0, #9bc9df, #cce7f4, #e3f3fb); 
    width: 0; 
    height: 0;
    text-align: center;
  }

  .experienceLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  .experienceLanding .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 70vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .left {
    height: 100%;
    width: 50%;
    left: 0;
  }

  .right {
    height: 100%;
    width: 50%;
    left: 0;
  }

  .experienceLanding h2 {
/*    float: left;*/
    margin: 0vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2vw;
    text-decoration: none;
  }
  .experienceLanding h3 {
/*    float: left;*/
    margin: 1vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 1.6vw;
    text-decoration: none;
  }
  
  .experienceLanding p {
/*    float: left;*/
    margin: 1vh 1vw 2.5vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 1.3vw;
    text-decoration: none;
  }
  /* experience */

  
  
  
  

  /* blogLanding */
  .blogLanding .top {
    height: 0;
  }

  .blogLanding .bottom {
    background-color: white; 
    width: 100%; 
    height: 0;
  }

  .blogLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .blogLanding .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 70vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .left {
    height: 100%;
    width: 50.4%;
    left: 0;
    border-right: solid;
  }

  .right {
    height: 100%;
    width: 49.4%;
    left: 0;
  }

  .blogLanding #entry {
    float: left;
    margin: .5vh 0vw .5vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2vw;
    text-decoration: none;
  }

  .blogLanding #entry:hover {
    color: #888888;
  }

  /* blogLanding */


  
  
  
  /* blogEntry */
  .blogEntry .top {
    height: 0;
  }

  .blogEntry .bottom {
    height: 0;
  }

  .blogEntry .content {
    position: absolute;
    top: 15vh;
    left: 17vw;
    width: 66vw;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-color: #ddd;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin: 20px auto;
  }

  .blogEntry p {
    margin: 0 0 0vh 0;
    font-size: 3vh;
  }

  .blogEntry h1 {
    margin: 0 0 2vh 0;
    color: black;
    font-family: sans-serif;
    font-size: 7vh;
  }
  /* blogEntry */
  
  
  
  
  
  
  /* contact */
  .contact .top {
    height: 0;
  }

  .contact .bottom {
    height: 0;
  }

  .contact .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 70vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }
  /* contact */
  

}



@media (max-width: 1200px) {
  .container {
    background-color: black; 
    width: 100%;
    height: auto;
    float: left;
  }

  .top {
    background-image: linear-gradient(to bottom right, #82b7d0, #9bc9df, #cce7f4, #e3f3fb); 
    width: 100%; 
    height: 50vh;
    text-align: center;
    float: left;
/*    background-color: blue;*/
  }

  .menu {
    position: absolute;
    top: 7vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 80vw;
    line-height: 50px;
    border-radius: 1em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    display: block;
  }

  #active {
    font-weight: bold;
  }

  .menu a {
    position: relative;
    cursor: pointer;
    padding: 8px 10px;
    margin: 0 0px;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
  }

  .menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #aaaaaa;

    transition: .5s;
    font-weight: bold;

  }

  .menu a:hover::before {
    width: 100%;
  /*  font-weight: bold;*/
  /*  color: aliceblue;*/
  }

  .menu a:hover {
    color: #aaaaaa;
  }

  .bottom {
    background-color: white; 
    width: 100%; 
    height: 20vh;
    float: left;
  }

  .home .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .home .rect {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
  }

  .home .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .home .right {
    height: 0;
    width: 0;
  }
  
  .rect h1{
    font-family: Arial Narrow, sans-serif;
    color: #909090;
    font-size: 4vh; 
    padding: 0; 
    margin: 20px 0px 0 20px;
  }

  .rect h2 {
    color: #000000;
    font-size: 5vh; 
    padding: 0; 
    margin: 0 20px 0 20px;
  }

  .left #divider {
    background-color: inherit;
    border: none;
    border-top: 4px dotted #dfdfdf;
  /*  color: #000000;*/
    height: 0px;
    padding: 0; 
    margin: 10px 20px 0px 20px;
  }
  
  .self {
    float: left;
    margin: 20px 0px 0 0;
    height: auto;
    width: 100%;
  }
  
  .row {
    float: left;
    width: 100%;
    margin: 0vw 0 2vh 0;
  }
  
  .icon {
    float: left;
    height: 3.5vh;
    width: auto;
    margin: 0vh 20px 0vh 20px;
  }
  
  .row p {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 3vh;
  }
  
  .home .content {
    top: auto;
    margin: 1vh 12vw 5vh 12vw;
    height: auto;
    width: auto;
    float: left;
  }
  
  .content p {
    color: black;
    font-size: 20px;
    margin: 0 0 3vh 0;
  }
  
  

  
  
  
/* experience */
  .experienceLanding .top {
    height: 0;
  }

  .experienceLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .experienceLanding .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .experienceLanding .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .experienceLanding .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .experienceLanding h2 {
    margin: 0vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 4vw;
    text-decoration: none;
  }
  
  .experienceLanding h3 {
    margin: 1vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.6vw;
    text-decoration: none;
  }
  
  .experienceLanding p {
    margin: 1vh 1vw 2.5vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.3vw;
    text-decoration: none;
  }
  /* experience */

  
  
  
  

  /* blogLanding */
  .blogLanding .top {
    height: 0;
  }

  .blogLanding .bottom {
    height: 0;
  }

  .blogLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .blogLanding .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .blogLanding #entry {
    float: left;
    margin: 0vh 0vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 7vw;
    text-decoration: none;
  }

  .blogLanding #entry:hover {
    color: #888888;
  }

  /* blogLanding */


  
  
  
  
  /* blogEntry */
  .blogEntry .top {
    height: 0;
  }

  .blogEntry .bottom {
    height: 0;
  }

  .blogEntry .content {
    position: absolute;
    top: 15vh;
    left: 11vw;
    width: 78vw;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-color: #ddd;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin: 20px auto;
  }

  .blogEntry p {
    margin: 0vh 0vw 0vh 0vw;
    font-size: 2vh;
  }

  .blogEntry h1 {
    margin: 0vh 0vw 2vh 0vw;
    color: black;
    font-family: sans-serif;
    font-size: 5vh;
  }
  /* blogEntry */
  
  
  
  
  
  
  
  /* contact */
  .contact .top {
    height: 0;
  }

  .contact .bottom {
    height: 0;
  }

  .contact .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 86vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }
  /* contact */
  

  
  
}

@media (max-width: 650px) {
  .container {
    background-color: black; 
    width: 100%;
    height: auto;
    float: left;
  }

  .top {
    background-image: linear-gradient(to bottom right, #82b7d0, #9bc9df, #cce7f4, #e3f3fb); 
    width: 100%; 
    height: 50vh;
    text-align: center;
    float: left;
/*    background-color: blue;*/
  }

  .menu {
    position: absolute;
    top: 7vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 80vw;
    line-height: 50px;
    border-radius: 1em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    display: block;
  }

  #active {
    font-weight: bold;
  }

  .menu a {
    position: relative;
    cursor: pointer;
    padding: 8px 10px;
    margin: 0 0px;
    text-decoration: none;
    color: #000000;
    font-size: 2vh;
  }

  .menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #aaaaaa;

    transition: .5s;
    font-weight: bold;

  }

  .menu a:hover::before {
    width: 100%;
  /*  font-weight: bold;*/
  /*  color: aliceblue;*/
  }

  .menu a:hover {
    color: #aaaaaa;
  }

  .bottom {
    background-color: white; 
    width: 100%; 
    height: 20vh;
    float: left;
  }

  .home .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .home .rect {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
  }

  .home .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .home .right {
    height: 0;
    width: 0;
  }
  
  .rect h1{
    font-family: Arial Narrow, sans-serif;
    color: #909090;
    font-size: 4vh; 
    padding: 0; 
    margin: 20px 0px 0 20px;
  }

  .rect h2 {
    color: #000000;
    font-size: 5vh; 
    padding: 0; 
    margin: 0 20px 0 20px;
  }

  .left #divider {
    background-color: inherit;
    border: none;
    border-top: 4px dotted #dfdfdf;
  /*  color: #000000;*/
    height: 0px;
    padding: 0; 
    margin: 10px 20px 0px 20px;
  }
  
  .self {
    float: left;
    margin: 20px 0px 0 0;
    height: auto;
    width: 100%;
  }
  
  .row {
    float: left;
    width: 100%;
    margin: 0vw 0 2vh 0;
  }
  
  .icon {
    float: left;
    height: 3.5vh;
    width: auto;
    margin: 0vh 20px 0vh 20px;
  }
  
  .row p {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 3vh;
  }
  
  .home .content {
    top: auto;
    margin: 1vh 12vw 5vh 12vw;
    height: auto;
    width: auto;
    float: left;
  }
  
  .content p {
    color: black;
    font-size: 20px;
    margin: 0 0 3vh 0;
  }
  
  

  
  
  
/* experience */
  .experienceLanding .top {
    height: 0;
  }

  .experienceLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .experienceLanding .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .experienceLanding .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .experienceLanding .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .experienceLanding h2 {
    margin: 0vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 4vw;
    text-decoration: none;
  }
  
  .experienceLanding h3 {
    margin: 1vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.6vw;
    text-decoration: none;
  }
  
  .experienceLanding p {
    margin: 1vh 1vw 2.5vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.3vw;
    text-decoration: none;
  }
  /* experience */

  
  
  
  

  /* blogLanding */
  .blogLanding .top {
    height: 0;
  }

  .blogLanding .bottom {
    height: 0;
  }

  .blogLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .blogLanding .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .blogLanding #entry {
    float: left;
    margin: 0vh 0vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 7vw;
    text-decoration: none;
  }

  .blogLanding #entry:hover {
    color: #888888;
  }

  /* blogLanding */


  
  
  
  
  /* blogEntry */
  .blogEntry .top {
    height: 0;
  }

  .blogEntry .bottom {
    height: 0;
  }

  .blogEntry .content {
    position: absolute;
    top: 15vh;
    left: 11vw;
    width: 78vw;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-color: #ddd;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin: 20px auto;
  }

  .blogEntry p {
    margin: 0vh 0vw 0vh 0vw;
    font-size: 2vh;
  }

  .blogEntry h1 {
    margin: 0vh 0vw 2vh 0vw;
    color: black;
    font-family: sans-serif;
    font-size: 5vh;
  }
  /* blogEntry */
  
  
  
  
  
  
  
  /* contact */
  .contact .top {
    height: 0;
  }

  .contact .bottom {
    height: 0;
  }

  .contact .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 86vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }
  /* contact */
  

  
  
}

@media (max-width: 500px) {
  .container {
    background-color: black; 
    width: 100%;
    height: auto;
    float: left;
  }

  .top {
    /* background-image: linear-gradient(to bottom right, #82b7d0, #9bc9df, #cce7f4, #e3f3fb);  */
		background-image: linear-gradient(to bottom right, #fff, #9bc9df, #cce7f4, #e3f3fb); 
    width: 100%; 
    height: 100vh;
    text-align: center;
    float: left;
   /* background-color: blue; */
  }

  .menu {
    position: absolute;
    top: 7vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 80vw;
    line-height: 50px;
    border-radius: 1em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    display: block;

  }

  #active {
    font-weight: bold;
  }

  .menu a {
    position: relative;
    cursor: pointer;
    padding: 8px 1vw;
    margin: 0 0px;
    text-decoration: none;
    color: #000000;
		font-size: 1.7vh;
  }

  .menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #aaaaaa;

    transition: .5s;
    font-weight: bold;

  }

  .menu a:hover::before {
    width: 100%;
  }

  .menu a:hover {
    color: #aaaaaa;
  }

  .bottom {
    background-color: white; 
    width: 100%; 
    height: 5vh;
    float: left;
  }

  .home .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .home .rect {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
  }

  .home .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .home .right {
    height: 0;
    width: 0;
  }
  
  .rect h1{
    font-family: Arial Narrow, sans-serif;
    color: #909090;
    font-size: 4vh; 
    padding: 0; 
    margin: 20px 0px 0 20px;
  }

  .rect h2 {
    color: #000000;
    font-size: 5vh; 
    padding: 0; 
    margin: 0 20px 0 20px;
  }

  .left #divider {
    background-color: inherit;
    border: none;
    border-top: 4px dotted #dfdfdf;
  /*  color: #000000;*/
    height: 0px;
    padding: 0; 
    margin: 10px 20px 0px 20px;
  }
  
  .row {
    float: left;
    width: 100%;
    margin: 0vw 0 2vh 0;
  }
  
  .icon {
    float: left;
    height: 2.5vh;
    width: auto;
    margin: 0vh 10px 0vh 20px;
  }
  
  .row p {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 2vh;
  }

	.row a {
    float: left;
    font: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0vh 0 0 0;
    font-size: 2vh;
  }
  
  .home .content {
    top: auto;
    margin: 1vh 12vw 5vh 12vw;
    height: auto;
    width: auto;
    float: left;
  }
  
  .content p {
    color: black;
    font-size: 2vh;
    margin: 0 0 3vh 0;
  }
  
  

  
  
  
/* experience */
  .experienceLanding .top {
    height: 0;
  }

  .experienceLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .experienceLanding .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .experienceLanding .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .experienceLanding .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .experienceLanding h2 {
    margin: 0vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 4vw;
    text-decoration: none;
  }
  
  .experienceLanding h3 {
    margin: 1vh 1vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.6vw;
    text-decoration: none;
  }
  
  .experienceLanding p {
    margin: 1vh 1vw 2.5vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 2.3vw;
    text-decoration: none;
  }
  /* experience */

  
  
  
  

  /* blogLanding */
  .blogLanding .top {
    height: 0;
  }

  .blogLanding .bottom {
    height: 0;
  }

  .blogLanding .shape{        
    float: left;
    background-color: aqua;
    background: rgb(255,255,255,0);
  }
  
  .blogLanding .content {
    float: left;
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }

  .left {
    height: 100%;
    width: 100%;
    left: 0;
    border: 0;
  }

  .right {
    height: 100%;
    width: 100%;
    left: 0;
  }

  .blogLanding #entry {
    float: left;
    margin: 0vh 0vw 0vh 1vw;
    color: black;
    font-family: sans-serif;
    font-size: 7vw;
    text-decoration: none;
  }

  .blogLanding #entry:hover {
    color: #888888;
  }

  /* blogLanding */


  
  
  
  
  /* blogEntry */
  .blogEntry .top {
    height: 0;
  }

  .blogEntry .bottom {
    height: 0;
  }

  .blogEntry .content {
    position: absolute;
    top: 15vh;
    left: 11vw;
    width: 78vw;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-color: #ddd;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin: 20px auto;
  }

  .blogEntry p {
    margin: 0vh 0vw 0vh 0vw;
    font-size: 2vh;
  }

  .blogEntry h1 {
    margin: 0vh 0vw 2vh 0vw;
    color: black;
    font-family: sans-serif;
    font-size: 5vh;
  }
  /* blogEntry */
  
  
  
  
  
  
  
  /* contact */
  .contact .top {
    height: 0;
  }

  .contact .bottom {
    height: 0;
  }

  .contact .content {
    float: left;
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 86vw;
    height: auto;
    background-color: #ffffff;
    background: rgb(255,255,255,0);
  }
  /* contact */
  

  
  
}
